-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: plainDB
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `matching_quiz`
--

DROP TABLE IF EXISTS `matching_quiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matching_quiz` (
  `quiz_id` int NOT NULL AUTO_INCREMENT COMMENT '?댁쫰 怨좎쑀 ID',
  `difficulty` tinyint NOT NULL COMMENT '?쒖씠??(0=?ъ?,1=蹂댄넻,2=?대젮?)',
  `points` int NOT NULL DEFAULT '0' COMMENT '?좊떦 ?ъ씤??,
  `items` json NOT NULL COMMENT '臾몄젣 ??ぉ JSON',
  `theme` varchar(5) NOT NULL,
  PRIMARY KEY (`quiz_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matching_quiz`
--

LOCK TABLES `matching_quiz` WRITE;
/*!40000 ALTER TABLE `matching_quiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `matching_quiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_multiple_choice`
--

DROP TABLE IF EXISTS `quiz_multiple_choice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz_multiple_choice` (
  `question_id` int NOT NULL AUTO_INCREMENT COMMENT '臾몄젣蹂?怨좎쑀 ID',
  `difficulty` tinyint NOT NULL COMMENT '?쒖씠??(0=?ъ?,1=蹂댄넻,2=?대젮?)',
  `question_text` text NOT NULL COMMENT '臾몄젣 ?댁슜',
  `image_url` varchar(255) DEFAULT NULL COMMENT '臾몄젣 洹몃┝ URL',
  `choice_1` varchar(255) NOT NULL COMMENT '蹂닿린 1',
  `choice_2` varchar(255) NOT NULL COMMENT '蹂닿린 2',
  `choice_3` varchar(255) NOT NULL COMMENT '蹂닿린 3',
  `correct_choice` json NOT NULL,
  `points` int NOT NULL COMMENT '?좊떦 ?ъ씤??,
  `theme` varchar(5) NOT NULL,
  PRIMARY KEY (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_multiple_choice`
--

LOCK TABLES `quiz_multiple_choice` WRITE;
/*!40000 ALTER TABLE `quiz_multiple_choice` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_multiple_choice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_true_false`
--

DROP TABLE IF EXISTS `quiz_true_false`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz_true_false` (
  `question_id` int NOT NULL AUTO_INCREMENT COMMENT '臾몄젣蹂?怨좎쑀 ID',
  `difficulty` tinyint NOT NULL COMMENT '?쒖씠??(0=?ъ?,1=蹂댄넻,2=?대젮?)',
  `question_text` text NOT NULL COMMENT '臾몄젣 ?댁슜',
  `correct_answer` json NOT NULL,
  `points` int NOT NULL COMMENT '?좊떦 ?ъ씤??,
  `theme` varchar(5) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  PRIMARY KEY (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_true_false`
--

LOCK TABLES `quiz_true_false` WRITE;
/*!40000 ALTER TABLE `quiz_true_false` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_true_false` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_points`
--

DROP TABLE IF EXISTS `user_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_points` (
  `user_id` int NOT NULL COMMENT 'users.id 李몄“',
  `points_balance` int NOT NULL DEFAULT '0' COMMENT '?꾩옱 蹂댁쑀 ?ъ씤??,
  `earned_this_month` int NOT NULL DEFAULT '0' COMMENT '?대쾲 ???띾뱷 ?꾩쟻??,
  `last_reset` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '珥덇린???쒓컖',
  PRIMARY KEY (`user_id`),
  CONSTRAINT `user_points_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_points`
--

LOCK TABLES `user_points` WRITE;
/*!40000 ALTER TABLE `user_points` DISABLE KEYS */;
INSERT INTO `user_points` VALUES (1,1200,200,'2025-08-01 00:00:00'),(2,800,500,'2025-08-01 00:00:00'),(3,50,50,'2025-08-05 00:00:00'),(4,10000,0,'2025-08-07 17:25:07'),(5,0,0,'2025-08-08 18:59:18'),(6,0,0,'2025-08-08 19:56:12'),(7,0,0,'2025-08-08 20:01:50'),(8,0,0,'2025-08-22 13:22:28');
/*!40000 ALTER TABLE `user_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '?좎? 怨좎쑀 ID',
  `name` varchar(100) NOT NULL COMMENT '?대쫫',
  `email` varchar(255) NOT NULL COMMENT '?대찓??(以묐났 遺덇?)',
  `password` varchar(255) NOT NULL COMMENT '鍮꾨?踰덊샇 (?댁떆 ???',
  `nickname` varchar(100) NOT NULL COMMENT '?됰꽕??,
  `gender` enum('M','F') NOT NULL COMMENT '?깅퀎 (M/F)',
  `tier` tinyint NOT NULL COMMENT '?곗뼱 0~6',
  `subscription` tinyint NOT NULL COMMENT '援щ룆 ?곹깭 (0=?놁쓬,1=踰좎씠吏?2=?꾨━誘몄뾼)',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '?앹꽦 ?쒖젏',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-07 15:29:53
